Pandas is a powerful data manipulation and analysis library for Python. It provides data structures like Series and DataFrame, which are essential for working with structured data.

In [3]:
# series 

import pandas as pd
import numpy as np

series = pd.Series([1,2, np.nan, 4, 5])

print(series)

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [4]:
# Data frame
import pandas as pd

data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}

df = pd.DataFrame(data)

print(df)

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [4]:
# Reading a csv file

import pandas as pd

df = pd.read_csv("example.csv");

print(df)

       Name  Age         City  Salary
0     Alice   30     New York   70000
1       Bob   25  Los Angeles   55000
2   Charlie   35      Chicago   65000
3     David   28      Houston   48000
4       Eve   40      Phoenix   85000
5     Alice   30     New York   70000
6       Bob   25  Los Angeles   55000
7   Charlie   35      Chicago   65000
8     David   28      Houston   48000
9       Eve   40      Phoenix   85000
10    Alice   30     New York   70000
11      Bob   25  Los Angeles   55000
12  Charlie   35      Chicago   65000
13    David   28      Houston   48000
14      Eve   40      Phoenix   85000

In [3]:
# Viewing data 

import pandas as pd

df = pd.read_csv("example.csv");

print(df.head())
print(df.tail())

      Name  Age         City  Salary
0    Alice   30     New York   70000
1      Bob   25  Los Angeles   55000
2  Charlie   35      Chicago   65000
3    David   28      Houston   48000
4      Eve   40      Phoenix   85000
       Name  Age         City  Salary
10    Alice   30     New York   70000
11      Bob   25  Los Angeles   55000
12  Charlie   35      Chicago   65000
13    David   28      Houston   48000
14      Eve   40      Phoenix   85000

In [8]:
# statitics

import pandas as pd

df = pd.read_csv("example.csv")

print(df.describe())

             Age        Salary
count  15.000000     15.000000
mean   31.600000  64600.000000
std     5.500649  13200.649335
min    25.000000  48000.000000
25%    28.000000  55000.000000
50%    30.000000  65000.000000
75%    35.000000  70000.000000
max    40.000000  85000.000000

KeyError: 'A'